<app-nav-bar></app-nav-bar>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first" >
      <a class="underlineHover">Create new Task</a>


      </div>

    <form
    class="form"
      [formGroup]="createTaskForm"
      (ngSubmit)="createTask(createTaskForm.value)"
      autocomplete="off"
      novalidate
    >
      <div class="form-group">
        <em
          *ngIf="createTaskForm.controls['taskTitle']?.invalid &&
              createTaskForm.controls['taskTitle']?.touched && createTaskForm.controls['taskTitle'].errors?.['required']"
          >Required</em
        >
      </div>
      <input
        type="text"
        id="taskTitle"
        class="fadeIn second"
        name="taskTitle"
        placeholder="Title..."
        formControlName="taskTitle"
      />

      <div class="form-group">
        <em
          *ngIf="createTaskForm.controls['explanation']?.invalid &&
                createTaskForm.controls['explanation']?.touched && createTaskForm.controls['explanation'].errors?.['required']"
          >Required</em
        >
      </div>
      <textarea
        type="textarea"
        id="Explanation"
        class="fadeIn second"
        name="Explanation"
        placeholder="Explanation..."
        formControlName="explanation"
      ></textarea>

      <textarea
        type="textarea"
        id="Note"
        class="fadeIn third password"
        name="Note"
        placeholder="Note..."
        formControlName="note"
      ></textarea>
      <input
        type="submit"
        class="fadeIn fourth"
        value="Create new task"
        (click)="inputControl()"
      />
    </form>
      <a class="underlineHover" [routerLink]="['/dashboard']">Go Back</a>
    <div id="formFooter"></div>

  </div>
</div>
