<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first" style="margin-top: 2rem">
      <a class="underlineHover">Create new Task</a>
    </div>

    <form
      [formGroup]="createTaskForm"
      (ngSubmit)="createTask(createTaskForm.value)"
      autocomplete="off"
      novalidate
      style="margin-top: 2rem"
    >
      <div class="form-group">
        <em
          *ngIf="createTaskForm.controls['TaskTitle']?.invalid &&
              createTaskForm.controls['TaskTitle']?.dirty && createTaskForm.controls['TaskTitle'].errors?.['required']"
          >Required</em
        >
      </div>
      <input
        type="text"
        id="TaskTitle"
        class="fadeIn second"
        name="TaskTitle"
        placeholder="Title..."
        formControlName="TaskTitle"
      />

      <div class="form-group">
        <em
          *ngIf="createTaskForm.controls['Explanation']?.invalid &&
                createTaskForm.controls['Explanation']?.dirty && createTaskForm.controls['Explanation'].errors?.['required']"
          >Required</em
        >
      </div>
      <textarea
        type="textarea"
        id="Explanation"
        class="fadeIn second"
        name="Explanation"
        placeholder="Explanation..."
        formControlName="Explanation"
      ></textarea>

      <div class="form-group">
        <em
          *ngIf="createTaskForm.controls['Note']?.invalid &&
                createTaskForm.controls['Note']?.dirty && createTaskForm.controls['Note'].errors?.['required']"
          >Required</em
        >
      </div>
      <textarea
        type="textarea"
        id="Note"
        class="fadeIn third password"
        name="Note"
        placeholder="Note..."
        formControlName="Note"
      ></textarea>

      <input
        type="submit"
        class="fadeIn fourth"
        value="Create new task"
      />
    </form>

    <div id="formFooter"></div>
  </div>
</div>
