<app-nav-bar></app-nav-bar>
<div class="wrapper fadeInDown" style="margin-top: 7rem;">
  <div id="formContent">
    <div class="fadeIn first" style="margin-top: 2rem">
      <a class="underlineHover">Create new Task</a>
    </div>

    <form
      [formGroup]="createTaskForm"
      (ngSubmit)="createTask(createTaskForm.value)"
      autocomplete="off"
      novalidate
      style="margin-top: 2rem"
    >
      <div class="form-group">
        <em
          *ngIf="createTaskForm.controls['taskTitle']?.invalid &&
              createTaskForm.controls['taskTitle']?.dirty && createTaskForm.controls['taskTitle'].errors?.['required']"
          >Required</em
        >
      </div>
      <input
        type="text"
        id="taskTitle"
        class="fadeIn second"
        name="taskTitle"
        placeholder="Title..."
        formControlName="taskTitle"
      />

      <div class="form-group">
        <em
          *ngIf="createTaskForm.controls['explanation']?.invalid &&
                createTaskForm.controls['explanation']?.dirty && createTaskForm.controls['explanation'].errors?.['required']"
          >Required</em
        >
      </div>
      <textarea
        type="textarea"
        id="Explanation"
        class="fadeIn second"
        name="Explanation"
        placeholder="Explanation..."
        formControlName="explanation"
      ></textarea>

      <textarea
        type="textarea"
        id="Note"
        class="fadeIn third password"
        name="Note"
        placeholder="Note..."
        formControlName="note"
      ></textarea>
      <input
        type="submit"
        class="fadeIn fourth"
        value="Create new task"
        [disabled]="!createTaskForm.valid"
      />
    </form>

    <div id="formFooter"></div>
  </div>
</div>
