<div style="margin-top: 3rem; margin-bottom: 25rem">
  <div class="card text-white bg-secondary mb-3">
    <div class="card-body">
      <h5 class="card-title">Task title</h5>
      <p class="card-text">Explanation</p>
      <p class="card-text">Note</p>
    </div>
    <div class="card-header">
      <button
        type="button"
        class="btn btn-warning"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Details
      </button>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3">
    <div class="card-body">
      <h5 class="card-title">Task title</h5>
      <p class="card-text">Explanation</p>
      <p class="card-text">Note</p>
    </div>
    <div class="card-header">
      <button
        type="button"
        class="btn btn-warning"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Details
      </button>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3">
    <div class="card-body">
      <h5 class="card-title">Task title</h5>
      <p class="card-text">Explanation</p>
      <p class="card-text">Note</p>
    </div>
    <div class="card-header">
      <button
        type="button"
        class="btn btn-warning"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Details
      </button>
    </div>
  </div>
  <div class="card text-white bg-danger mb-3">
    <div class="card-body">
      <h5 class="card-title">Task title</h5>
      <p class="card-text">Explanation</p>
      <p class="card-text">Note</p>
    </div>
    <div class="card-header">
      <button
        type="button"
        class="btn btn-warning"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Details
      </button>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Task title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="card-text">Explanation</p>
        <p class="card-text">Note</p>
        <p class="card-text">Start date:07/26/2022</p>
        <p class="card-text">Complated</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
