<div class="dailylist">
  <div *ngFor="let task of tasks ">
    <div
      [ngClass]="
        task.completed == true
          ? 'card text-white bg-success mb-3'
          : 'card text-white bg-secondary mb-3'
      "
      *ngIf="!task.completed"
    >
      <div class="form-check  formCheckCompleted" >
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
          [checked]="task.completed"
          (click)="Check(task.taskId)"
        />
        <label class="form-check-label" for="flexCheckDefault"
          >Complated
        </label>
      </div>

      <div class="form-check  formCheckPriority">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
          [checked]="task.priority"
          (click)="Priorty(task.taskId)"
        />
        <label class="form-check-label" for="flexCheckDefault">Priority </label>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ task.taskTitle }}</h5>
        <p class="card-text">{{ task.explanation }}</p>
        <p *ngIf="task.note" class="card-text">Note : {{ task.note }}</p>
      </div>
      <div class="card-header">
        <button
          type="button"
          class="btn btn-warning"
          data-bs-toggle="modal"
          data-bs-target="#dailyModal"
          (click)="dailymodal(task.taskId)"
        >
          Details
        </button>
        <button
          style="float: right"
          type="button"
          class="btn btn-danger"
          (click)="dailydelete(task.taskId)"
        >
          Delete
        </button>
      </div>
    </div>
    <div
      class="modal fade"
      id="dailyModal"
      tabindex="-1"
      aria-labelledby="dailyModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="dailyModalLabel">{{ tasktitle }}</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p class="card-text">{{ explanation }}</p>
            <p class="card-text">{{ note }}</p>
            <p class="card-text">
              Start date : {{ startDate | date: "short" }}
            </p>
            <p *ngIf="completed" class="card-text">
              Finish date : {{ finishDate | date: "short" }}
            </p>
            <p *ngIf="!completed" class="card-text">Not completed</p>
            <p *ngIf="completed" class="card-text">Completed</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h5  class="ComplatedFont">Completed</h5>

<div class="dailyListCompleted" >
  <div *ngFor="let task of tasks">
    <div
      [ngClass]="
        task.completed == true
          ? 'card text-white bg-success mb-3'
          : 'card text-white bg-secondary mb-3'
      "
      *ngIf="task.completed"
    >
      <div class="form-check  formCheckCompleted" >
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
          [checked]="task.completed"
          (click)="Check(task.taskId)"
        />
        <label class="form-check-label" for="flexCheckDefault"
          >Complated
        </label>
      </div>

      <div class="form-check formCheckPriority" >
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
          [checked]="task.priority"
          (click)="Priorty(task.taskId)"
        />
        <label class="form-check-label" for="flexCheckDefault">Priority </label>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ task.taskTitle }}</h5>
        <p class="card-text">{{ task.explanation }}</p>
        <p *ngIf="task.note" class="card-text">Note : {{ task.note }}</p>
      </div>
      <div class="card-header">
        <button
          type="button"
          class="btn btn-warning"
          data-bs-toggle="modal"
          data-bs-target="#dailyModal"
          (click)="dailymodal(task.taskId)"
        >
          Details
        </button>
        <button
          style="float: right"
          type="button"
          class="btn btn-danger"
          (click)="dailydelete(task.taskId)"
        >
          Delete
        </button>
      </div>
    </div>
    <div
      class="modal fade"
      id="dailyModal"
      tabindex="-1"
      aria-labelledby="dailyModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="dailyModalLabel">{{ tasktitle }}</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p class="card-text">{{ explanation }}</p>
            <p class="card-text">{{ note }}</p>
            <p class="card-text">
              Start date : {{ startDate | date: "short" }}
            </p>
            <p *ngIf="completed" class="card-text">
              Finish date : {{ finishDate | date: "short" }}
            </p>
            <p *ngIf="!completed" class="card-text">Not completed</p>
            <p *ngIf="completed" class="card-text">Completed</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
