<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="container">
        <div class="container">
          <h5>Daily List</h5>
        </div>
        <app-daily-list
          [tasks]="tasks"
          (delete)="delete($event)"
          (checkFalse)="chackFalse($event)"
          (checkTrue)="chackTrue($event)"
          (priorityFalse)="priorityFalse($event)"
          (priorityTrue)="priorityTrue($event)"
        ></app-daily-list>
      </div>
    </div>

    <div class="col-4">
      <div class="container">
        <div class="container" >
          <h5>Monthly List</h5>
        </div>
        <app-monthly-list [tasks]="tasks"></app-monthly-list>
      </div>
    </div>
  </div>
</div>
